@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Open+Sans:wght@300;400&family=Parisienne&family=Quicksand:wght@300&display=swap');

/*google fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Parisienne', cursive;
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}
/*start of nav menu for desktop scren */
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 10px 0;
    background: #231003;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    width: 75px;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list #buy{
    background-color: red;
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: -5px;
}
.menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 5px 15px;
}
.menu-list li a:hover{
    background-color: #be712b;
}
  
.banner{
      position: relative;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position:center;
      background: url(../images/cover.jpeg);
}
.banner .overlay{
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      position: relative;
}
/* home css*/
.banner .container{
      width: 100%;
}
.banner .container .home-design{
      display: inline-block;
      width: 90%;
      margin-left: 5%;
  
}
.banner .container .home-design .heading{
      display: flex;
      top: 300px;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
      
}
.banner .container .home-design h1{
      color: #fff;
      font-family: 'Parisienne', cursive;
      font-weight: 200;
      font-size: 76px;
}
.banner .container .home-design img{
      width: 100px;
}
/* breading heart css and animation */
.banner .container .home-design #heart {
      width: 180px;
      -webkit-animation: breathing 5s ease-out infinite normal;
      animation: breathing 2s ease-out infinite normal;
      font-family:'Lantinghei SC';
      font-size: 16px;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      }
@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
}
  
@keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
}
  
/*end of breadthing heart */
.banner .container .home-design h2{
      color: #fff;
      font-family: 'Parisienne', cursive;
      font-size: 76px;
      font-weight: 200;
  
}
.container .home-design .heading-content{
      position: relative;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin-left: 25%;
      margin-top: 350px;
}
.container .home-design .heading-content p{
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
}
.container .home-design .heading-content button{
    background: red;
    color: #fff;
    padding: 5px 20px;
    align-items: center;
    margin-left: 35%;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 15px;

}
.container .home-design .heading-content button:hover{
    background-color: #be712b;
    transition: 0.5s ease;
}
.container .home-design .heading-content button a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;

}
/* start of content of page*/
.content1 .container{
      width: 100%;
      align-items: center;
      font-family:'Open Sans', sans-serif;
  
}
.content1 .container h1{
      color: #be712b;
      font-family:'Open Sans', sans-serif;
      text-align: center;
      justify-content: center;
      padding: 20px 20px;
      position: relative;
      font-size: 28px;
      font-weight: 500;      
      text-transform: uppercase;
}
.content1 .container ul{
      display: flex;
      width: 100%;
      align-items: center;
      text-align: center;
      width: 20%;
      font-family: 'Open Sans', sans-serif;
      margin-left: 40%;
}
.content1 .container ul li{
      color: #3e1900;
      padding: 0px 10px;
      list-style: none;
      align-items: center;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      width: 100%;
      border-right: #3e1900 1px solid;
}
.content1 .container ul .thrive{
      border-right: none;
}
  
.content1 .container p{
      width: 50%;
      margin-left: 25%;
      padding: 25px 20px;
      font-size: 14px;
      display: inline-block;
      text-align: center;
      font-weight: 100;
}
  /*start of content 2 */
.content2{
      width: 100%;
      height: 250px;
      background: #3e1900;
      display: inline-block;
}
.content2 .container{
      width: 90%;
      color: #fff;
      margin-left: 5%;
}
.content2 .container h1{
      color: #fff;
      text-align: center;
      padding: 15px 20px;
      font-size: 28px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      border-bottom: #ffffff 1px solid;
}
.content2 .container .services{
      width: 80%;
      margin-left: 10%;
}
.content2 .container .services ul{
      margin-top: 20px;
}
.content2 .container .services ul li{
      float: left;
      width: 25%;
      list-style: none;
      text-align: center;
      padding: 10px 0px;
}
.content2 .container .services ul li:hover{
      background: #be712b;
      border-radius: 20px;
}
.content2 .container .services ul li a i{
      color: #fff;
      justify-content: center;
      font-size: 60px;
}
.content2 .container .services ul li a h2{
      font-size: 16px;
      padding: 20px 0px;
      color: #fff;
      font-weight: 400;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;

}
/* start of books */

.content1 .container .books{
      width: 90%;
      margin-left: 5%;
      display: flex;

}
.content1 .container .books .book1{
      width: 25%;
      text-align: center;
      align-items: center;
      perspective: 1000px;
}
/*flip card hover effect*/
/* .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .book1:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .book1, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  } */
/*test area*/
.content1 .container .books .book1 .book{
      background: #edd4c0;
      border-radius: 20px;
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      box-shadow: 2px 5px 5px #121212;
}
.content1 .container .books .book1 img{
      width: 220px;
      margin-top: 10px;
      box-shadow: 2px 2px 2px #3e3e3e;
}

  
.content1 .container .books .book1 h2{
      text-decoration: none;
      color: #be712b;
      font-weight: 400;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
}
.content1 .container .books .book1 h3{
      text-decoration: none;
      color: #3e1900;
      font-size: 16px;
      padding-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
}
/*start of subscription*/
.subscription{
      width: 100%;
      margin-top: 30px;
      height: 250px;
      background-image: url('../images/newsletter.jpg');
      align-items: center;
      background-size: cover;
  
}
.subscription .subscribe{
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
}
.subscription .subscribe .newsletter{
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      padding: 50px 0px;
      width: 50%;
      margin-left: 25%;
}
.subscription .subscribe .newsletter h1{
      width: 80%;
      text-align: center;
      margin-left: 10%;
      text-transform: uppercase;
      font-weight: 300;
}
.subscription .subscribe .newsletter form{
      width: 100%;
      padding: 30px 0px;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
}
.subscription .subscribe .newsletter form input{
      width: 75%;
      margin-left: 2%;
      height: 40px;
      float: left;
      font-size: 18px;
      border: #be712b 1px solid;
      border-radius: 15px 0px 0px 15px;
      outline: none;
      padding: 12px 15px;
      background: transparent;
      color: #fff;
      font-family: 300;
}
.subscription .subscribe .newsletter form input::placeholder{
      padding: 5px 0px;
      font-size: 18px;
      margin: 5px;
}
.subscription .subscribe .newsletter form button{
      width: 20%;
      height: 40px;
      border: #be712b 1px solid;
      color: #fff;
      border-radius: 0px 15px 15px 0px;
      background-color: #be712b;
      font-size: 18px;
      font-weight: 500;
      float: left;
}
.subscription .subscribe .newsletter form button:hover{
    background: #3e1900;
    border: #3e1900 1px solid;
}
/*start of footer*/
footer{
      width: 100%;
      height: 250px;
      background: #3e1900;
}
footer .container{
      color: #cecece;
      width: 90%;
      margin-left: 5%;
      padding: 40px 0px;
      display: flex;
      font-family: 'Quicksand', sans-serif;
    }
footer .container .col-1{
      width: 30%;
}
footer .container .col-1 h1{
      font-size: 26px;
      border-bottom: #838996 1px solid;
      font-family: 'Quicksand', sans-serif;
}
footer .container .col-1 p{
      text-align: justify;
      padding: 20px 0px;
      font-size: 14px;
      font-weight: 100;
      font-family: 'Quicksand', sans-serif;
}
footer .container .col{
      width: 30%;
      margin-left: 5%;
}
footer .container .col h1{
      font-size: 26px;
      font-family: 'Quicksand', sans-serif;
}
footer .container .col ul{
      margin-top: 20px;
      width: 100%;
}
footer .container .col ul li{
      list-style: none;
      padding: 5px 20px;
      font-size: 14px;
      font-family: 'Quicksand', sans-serif;
}
footer .container .col ul li a{
      color: #fff;
      text-decoration: none;
      font-family: 'Quicksand', sans-serif;
}
footer .container .col ul li i{
      padding-right: 10px;
}
.company{
      width: 100%;
      color: rgb(197, 197, 197);
      height: 45px;
      background-color: #231003;
}
.company h1{
      font-size: 16px;
      padding: 12px 200px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 200;
}
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar.sticky .icon.cancel-btn{
    top: 10px;
}

  /*============================
  ==============================
  blog page css
  ==============================
  ============================*/
.container .blog{
}
.container .blog .top-banner{
    background: url(../images/blog-banner.jpg) ;
    height: 80vh;
    padding-top: 50px;

}
.container .blog .top-banner .highlight-content{
    background: rgba(197, 197, 197, 0.8);
    width: 80%;
    height: 80%;
    margin-top: 5%;
    display: flex;
    padding-left: 60px;
}
.container .blog .top-banner .highlight-content img{
    width: 300px;
    height: 350px;
    padding: 50px 20px;

}
.container .blog .top-banner .highlight-content .reading{
    margin-top: 50px;
}
.container .blog .top-banner .highlight-content .reading h1{
    font-size: 13px;
    padding: 5px 20px;

}
.container .blog .top-banner .highlight-content .reading h2{
    font-size: 26px;
    padding-left: 15px;
}
.container .blog .top-banner .highlight-content .reading p{
    font-size: 16px;
    padding: 15px 20px;
    text-align: justify;

}
.container .blog .breaking{
    background: #002245;
    display: flex;
}
.container .blog .breaking h1{
    font-size: 30px;
    padding: 15px 10px;
    color: #fff;
    margin-left: 10%;
}
.container .blog .breaking button{
    background: #0071bc;
    padding: 5px 20px;
    border: none;
    height: 40px;
    margin-top: 13px;
}
.container .blog .breaking button:hover{
    background: #04c214;
    transition: 0.5s ease;
}
.container .blog .breaking button a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}
.container .blog h1{
    margin-left: 10%;
    padding: 15px 0px;

}
.container .blog .wrapper .topics ul{
    display: flex;
    margin-left: 5%;

}
.container .blog .wrapper .topics ul li{
    list-style: none;
    padding: 5px 10px;
    border-right: #3e3e3e 1px solid;
}
.container .blog .wrapper .topics ul li:hover{
    background: #07c07f;
    border-radius: 15px;
    transition: 0.6s ease;
}
.container .blog .wrapper .topics ul .last{
    border: none;
}
.container .blog .wrapper .topics ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #002245;
}
.container .blog .wrapper{
    margin-left: 10%;
    width: 80%;
}
.container .blog .wrapper .books{
    display: flex;
    margin-top: 10px;
    border-bottom: #838996 1px solid;
}
.container .blog .wrapper .books img{
    padding: 15px 10px;
    width: 100px;
}
.container .blog .wrapper .books .reading h1{
    font-size: 14px;
    font-weight: 100;
}
.container .blog .wrapper .books .reading h2{
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}
.container .blog .wrapper .books .reading p{
    font-size: 13px;
    padding: 5px 10px;
}
.container .blog .wrapper .books .reading h2:hover{
    color: red;
    text-decoration: underline;
    transition: 0.5s ease;
}
.container .blog .news{
    background: #002245;
    width: 60%;
    margin-top: 50px;
    margin-left: 10%;
    padding: 20px 0px;
    margin-bottom: 50px;
}
.container .blog .news h1{
    font-size: 30px;
    color: #fff;
}
.container .blog .news p{
    font-size: 14px;
    color: #fff;
    padding: 20px 5px;
    margin-left: 5%;

}
.container .blog .news h2{
    margin-left: 5%;
    color: #fff;
}
.container .blog .news h3{
    background: #fff;
    margin-left: 5%;
    width: 17%;
    padding: 5px 10px;
    text-align: center;
}
.container .blog .news h3:hover{
    background: red;
    transition: 0.2s ease;
}
.container .blog .news h3 a:hover{
    color: #fff;

}
.container .blog .news h3 a{
    text-decoration: none;
    color: #002245;
    align-items: center;
    text-align: center;
}
@media (max-width: 868px) {
    body.disabledScroll{
      overflow: hidden;
    }
    .icon{
      display: block;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      z-index: 9;
    }
    .icon.cancel-btn{
      display: none;
    }
    .icon.cancel-btn.show{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    /*navbar css*/
    .navbar .menu-list{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background: #231003;
      display: block;
      padding: 40px 0;
      text-align: center;
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
      transition: all 0.3s ease;
    }
    .navbar.sticky .menu-list{
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu-list.active{
      clip-path: circle(75%);
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
    }
    /*banner css*/
    .banner{
        background: url(../images/cover.jpeg);
        width: 100%;
        height: 100vh;
    }
    .banner .overlay .container .home-design .heading{
        display: inline-block;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        margin-top: -100px;
        padding: 0;
    }
    .banner .overlay .container .heading-content{
        width: 100%;
        margin: 0;
        margin-top: 330px;
    }
    /*lets go*/
    .content1 .container ul{
        margin: 0;
        align-items: center;
        text-align: center;
        margin-left: 20%;
    }
    .content1 .container p{
        width: 100%;
        margin: 0;
    }
    /* lets read digial library*/
    .content2 .container h1{
        font-size: 20px;
    }
    .content2 .container .services ul li a i{
        font-size: 40px;
    }
    .content2 .container .services ul li a h1{
        font-size: 12px;
    }
    /*books css*/
    .content1 .container .books{
        display: block;
        margin: 0;
    }
    .content1 .container .books .book1{
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
    }
    /*subscription*/
    .subscription .subscribe .newsletter{
        width: 90%;
        margin-left: 5%;
    }
    .subscription .subscribe .newsletter h1{
        font-size: 20px;
        width: 100%;
        margin: 0;
    }
    .subscription .subscribe .newsletter form{
        margin: 0;
        margin-top: 30px;
    }
    /*blog*/

    .container .blog{
        width: 100%;

    }
    .container .blog .top-banner{
        height: 120vh;
    }
    .container .blog .top-banner .highlight-content{
        display: block;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 15px 10px;
        height: 900px;
    } 
    .container .blog .top-banner .highlight-content img{
        height: 400px;
        width: 100%;
    }
    .container .blog .top-banner .highlight-content .reading{
        display: block;
        margin: 0;
        padding: 0;
    }
    .container .blog .breaking{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        padding: 15px 0px;
    }
    .container .blog .breaking button{
        width: 80%;
        margin-left: 10%;
        padding: 5px 0px;
    }
    .container .blog .wrapper .topics ul li a{
        font-size: 14px;
    }
    .container .blog .wrapper .topics ul li{
        align-items: center;
    }
    .container .blog .wrapper .books{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container .blog .wrapper{
        margin: 0;
        padding: 0;
        width: 90%;
        margin-left: 5%;
        padding: 10px 0px;
    }
    .container .blog .wrapper .books img{
        height: 200px;
        width: 100px;
        margin-top: 50px;
    }
    .container .blog .news{
        margin: 0;
        padding: 20px 0px;
        width: 90%;
        margin-bottom: 15px;
        margin-left: 5%;
    }
    .container .blog .news h2{
        margin: 0;
        padding: 5px 10px;
    }
    .container .blog .news p{
        margin: 0;
        padding: 5px 10px;
    }
    .container .blog .news h3{
        margin: 0;
        padding: 10px 20px;
        width: 150px;
        margin-left: 5%;
    }
    /*services*/
    .service{
        margin: 0;
        padding: 0;
    }
    .service .container{
        margin: 0;
        padding: 0;
    }
    .service .container .wrapper{
        margin: 0;
        padding: 0;
    }
    .service .container .wrapper .box{
        width: 20%;
        margin-left: 5%;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .service .container .wrapper .box i{
        font-size: 12px;
        width: 30px;
        background: red;
    }
    .service .container .wrapper .box h1{
        font-size: 8px;
    }
    /*footer*/
    footer{
        height: 45vh;
    }
    footer .container{
        display: block;
    }
    footer .container .col-1{
        width: 100%;
    }
    footer .container .col-1 h1{
        font-size: 18px;
        padding: 0;
        margin-top: -20px;
    }
    footer .container .col-1 p{
        font-size: 12px;
    }
    footer .container .col{
        display: inline-block;
        width: 40%;
    }
    footer .container .col h1{
        font-size: 18px;
    }
    footer .container .col ul li {
        font-size: 12px;
        padding: 5px 3px;
    }
    footer .container .col ul li a{
        font-size: 12px;
    }
    footer .company{
        margin: 0;
        text-align: center;
    }
    footer .company h1{
        width: 100%;
        font-size: 14px;
        margin: 0;
        padding: 10px 0px;
        align-items: center;

    }
    
    
  }

  /*============================
  ==============================
  contact page css
  ==============================
  ============================*/

.contact{
    width: 100%;
    background: url('../images/contact.jpg');
    height: 100vh;
    background-size: cover;
  }
.contact .container{
    width: 70%;
    margin-left: 15%;
    padding-top: 100px;
    position: relative;
    border-radius: 15px;
    background: rgba(250, 244, 244, 0.5);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    margin-top: 100px;
}
.contact .container .wrapper {
    display: inline-block;
    position: relative;
    margin-top: -50px;
    width: 100%;
}
.contact .container .wrapper h1{
    color: #e41314;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
}
.contact .container .wrapper h2{
    color: #000;
    text-align: center;
    font-size: 26px;

}
.contact .container .wrapper .details{
    display: flex;
    width: 100%;
    padding: 30px 0px;
}
/* contact details css */
.contact .container .wrapper .details .contact-details{
    width: 50%;
}
.contact .container .wrapper .details .contact-details ul {
    padding: 20px 25px;
}
.contact .container .wrapper .details .contact-details ul li{
    list-style: none;
    padding: 10px 0px;
}
.contact .container .wrapper .details .contact-details ul i{
    float: left;
    font-size: 22px;
    padding: 5px 15px;
    color: #e41314;
}
.contact .container .wrapper .details .contact-details ul h1{
    font-size: 22px;
    font-weight: 550;
    color: #000;
    text-align: left;
}
.contact .container .wrapper .details .contact-details ul h2{
    font-size: 18px;
    text-align: left;
    font-weight: 200;
}
.contact .container .details .contact-details .social-icons{
    display: flex;
    margin-left: 50px;
}
.contact .container .details .contact-details .social-icons li a i:hover{
    color: orange;
}

.contact .container .details .form{
    width: 50%;
}
/* contact form css */
.contact .container .wrapper .details .form input,
.contact .container .wrapper .details .form textarea{
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    color: #3e3e3e;
    border: #d2d1d1 1px solid;
    border-radius: 5px;
    background: #f8f9fb;
}
.contact .container .wrapper .details .form input::placeholder{
    color:#b5b9c4 ;
}
.contact .container .wrapper .details .form textarea::placeholder{
    color: #b5b9c4;
}
.contact .container .wrapper .details .form button{
    background: #e41314;
    color: #fff;
    outline: none;
    width: 90%;
    margin-left: 5%;
    padding: 10px 5px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.5s ease;
}
.contact .container .wrapper .details .form button:hover{
    background: orange;
}


/***********************
========================
========================
***********************/
.service{
    width:100%;
    margin: 0;
    padding: 0;
}
.service .container{
    padding-top: 90px;
    width: 80%;
    margin-top: 25px;
    display: inline-block;
    margin-left: 150px;
}
.service .container .wrapper{
    display: flex;
    margin-top: 30px;
}
.service .container .wrapper .box{
    width: 20%;
    background: #be712b;
    padding: 10px 5px;
    height: 300px;
    text-align: center;
    margin-left: 4%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service .container .wrapper .box i{
    font-size: 150px;
    color: #fff;
    text-align: center;

}
.service .container .wrapper .box h1{
    font-size: 24px;
    padding: 30px 0px;
    color: #FFF;
}
.service .container .table h1{
    color: #be712b;
    margin-top: 60px;

}
.service .container .table{
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
}
.service .container .table table{
    width: 100%;
    border-collapse: collapse;
}
.service .container table tr th,
.service .container table tr td{
    border: rgb(157, 157, 157) 1px solid;
    padding: 5px 10px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;    
}
.service .container table thead tr .time,
.service .container table thead tr .basic,
.service .container table thead tr .classic,
.service .container table thead tr .premium{
    width: 25%;
    background: #8ddef5;
}
.service .container table tbody tr td{
    padding: 5px 10px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
.buy{
    align-items: center;
    justify-self: center;
}
.buy form{
    padding: 30px 20px;
}
.buy form button{
    width: 50%;
    margin-left: 25%;
    padding: 15px 20px;
    font-size: 24px;
    background: #07c07f;
    border-radius: 15px;
    outline: none;
    border: none;
}
.buy form button:hover{
    background: #07d78e;
}
.buy form button a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

/****************
=================
subscrpiton form css
=================
****************/
.subscription-form{
    padding-top: 150px;
 
    background: rgba(249, 245, 192, 0.1);
}
.subscription .container{
    background: url(../images/pattern.jpg);
}
.subscription-form h1{
    text-align: center;
    color: red;
}
.subscription-form .form{
    width: 80%;
    margin-left: 10%;
}
.subscription-form .form form{
    margin-top: 50px;
}
.subscription-form .form label{
    font-size: 18px;
}
.subscription-form .form input{
    padding: 5px 15px;
    font-size: 16px;
}
.subscription-form .form #name,
.subscription-form .form #email,
.subscription-form .form #package{
    width: 40%;
}
.subscription-form .form #provience,
.subscription-form .form #district{
    width: 30%;
}
.subscription-form .form label,
.subscription-form .form select{
    font-size: 18px;
}
.subscription-form .form button{
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: red;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.subscription-form .form #sex{
    margin-left: 150px;
}
.subscription-form .partners .gateway{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}
.subscription-form .partners .gateway .payment{
    padding: 0px 10px;
    border-radius: 5px;
}